anki @ file:///build/anki/src/anki/dist/anki-2.1.35-py3-none-any.whl
ankirspy @ file:///build/anki/src/anki/dist/ankirspy-2.1.35-cp38-cp38-manylinux1_x86_64.whl
apparmor==3.0.0
appdirs==1.4.4
application-utility==1.3.2
apsw==3.33.0.post1
aqt @ file:///build/anki/src/anki/dist/aqt-2.1.35-py3-none-any.whl
asn1crypto==1.4.0
astroid==2.3.3
atomicwrites==1.1.5
attrs==18.1.0
autopep8==1.5
backcall==0.1.0
bandit==1.6.2
bauh==0.9.8
beautifulsoup4==4.9.3
black==19.10b0
bleach==3.1.1
btrfsutil==5.9
CacheControl==0.12.6
cachy==0.3.0
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2018.4.16
cffi==1.14.0
chardet==3.0.4
cleo==0.7.6
click==7.1.2
clikit==0.4.2
colorama==0.4.4
ConfigSpace==0.4.13
contextlib2==0.6.0.post1
cryptography==2.8
css-parser==1.0.6
cssselect==1.1.0
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.20
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distro==1.5.0
Django==2.2.4
djangorestframework==3.10.2
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
entrypoints==0.3
evdev==1.3.0
feedparser==5.2.1
filelock==3.0.12
flake8==3.7.9
flake8-polyfill==1.0.2
Flask==1.1.2
Flask-Cors==3.0.9
future==0.18.2
gitdb==4.0.2
GitPython==3.1.0
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
idna==2.10
ifaddr==0.1.7
importlib-metadata==2.0.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
jeepney==0.4.3
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.0.1
jupyterlab-server==1.0.7
keyring==20.0.1
keyutils==0.6
kiwisolver==1.1.0
lazy-import==0.2.2
lazy-object-proxy==1.4.3
LibAppArmor==3.0.0
llvmlite==0.32.0
lockfile==0.12.2
louis==3.15.0
lxml==4.6.1
mando==0.6.4
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.2.0
mccabe==0.6.1
mechanize==0.4.5
mistune==0.8.4
more-itertools==4.2.0
mpmath==1.1.0
msgpack==1.0.0
mypy==0.770
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
netifaces==0.10.9
netsnmp-python==1.0a1
nose==1.3.7
notebook==6.0.3
npyscreen==4.10.5
numba==0.49.0
numpy==1.18.1
ordered-set==4.0.2
orjson @ file:///build/python-orjson/src/python-orjson-3.4.3/target/wheels/orjson-3.4.3-cp38-cp38-manylinux1_x86_64.whl
packaging==20.4
pacman-mirrors==4.16.4
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.2
pastel==0.2.0
pathspec==0.7.0
pbr==5.4.4
pep517==0.9.1
pexpect==4.8.0
pickleshare==0.7.5
pikaur==1.6.7
Pillow==7.2.0
pkginfo==1.5.0.1
pluggy==0.6.0
ply==3.11
progress==1.5
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.12.4
psutil==5.7.0
ptyprocess==0.6.0
pwquality==1.4.4
py==1.5.3
pyalpm==0.9.1
pyaml==20.4.0
PyAudio==0.2.11
pycairo==1.20.0
pychm==0.8.6
pycodestyle==2.5.0
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
pydocstyle==5.0.2
pydot==1.4.1
pydotplus==2.0.2
pyflakes==2.1.1
Pygments==2.6.1
PyGObject==3.38.0
pylev==1.3.0
pylint==2.4.4
pynisher==0.5.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.2
pyrfr==0.8.0
pyrsistent==0.14.11
pysmbc==1.0.23
PySocks==1.7.1
pytest==3.6.2
python-dateutil==2.8.1
python-libtorrent==1.2.10
pytoml==0.1.21
pytz==2019.3
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.1
QtPy==1.9.0
radon==4.1.0
rados==2.0.0
rbd==2.0.0
regex==2020.11.13
reportlab==3.5.55
requests==2.24.0
requests-toolbelt==0.8.0
resolvelib==0.5.1
retrying==1.3.3
rgw==2.0.0
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
SecretStorage==3.1.2
Send2Trash==1.5.0
shellingham==1.3.2
sip==4.19.24
six==1.11.0
smac==0.12.2
smmap==3.0.1
snowballstemmer==2.0.0
sobol-seq==0.2.0
soupsieve==2.0.1
sqlparse==0.3.1
stevedore==1.32.0
sympy==1.5.1
team==1.0
terminado==0.8.3
testpath==0.4.4
toml==0.10.2
tomlkit==0.5.11
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
udiskie==2.2.0
unrardll==0.1.4
urllib3==1.25.10
virtualenv==20.0.20
waitress==1.4.4
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
xgboost==1.0.2
yapf==0.29.0
zeroconf==0.28.6
zipp==3.4.0
