name: CI

on: [push, pull_request]

jobs:
    style:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                  python-version: 3.8
            - name: Upgrade pip
              run: python -m pip install --upgrade pip
            - name: Install dependencies
              run: pip install flake8 black
            - name: lint with black
              run: black slsdt/reader_csv.py slsdt/utils.py slsdt/slsdt.py --check
            - name: lint with flake8
              run: flake8 slsdt/reader_csv.py slsdt/utils.py slsdt/slsdt.py --select=F401,E9,F63,F7,F82

    test-performance:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                python-version: [3.8]
                os: [ubuntu-latest]

        steps:
            - uses: actions/checkout@v2
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Check python version
              run: python -c "import sys; import platform; print('Python %s implementation %s on %s' % (sys.version, platform.python_implementation(), sys.platform))"
            - name: Upgrade pip
              run: python -m pip install --upgrade pip
            - name: Smac dependency
              run: sudo apt-get install build-essential swig
            - name: Install dependencies
              run: pip install -r requirements.txt
            - name: Create results
              run: mkdir -p results
            - name: Test dir
              run: python -c "import os; import glob; print(os.getcwd()); print(glob.glob('./'))"
            - name: Performance test
              run: python actions/test_performance_actions.py
            - uses: actions/upload-artifact@v2
              with:
                  name: my-artifact
                  path: results/
